streamlit
altair
h5py
typing-extensions
wheel
nltk
textblob
wordcloud
matplotlib
pandas
streamlit_pandas
spacy
spacy-streamlit
tensorflow
newspaper3k
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
networkx
seaborn
